---
import "../css/global.css";
import { Image } from "astro:assets";

import Squiggle from "../images/squirrel2.svg";
import Copenhagen from "../images/copenhagen-lf.jpg";
import Figma from "../images/figma-design.jpg";
import Todo from "../images/todo-liste.png";
import GreenLiving from "../images/green-living.jpg";
---

<section class="flow">
  <div class="header">
    <h2>Projekter</h2>
    <!-- <Image src={Squiggle} alt="mig" /> -->
  </div>
  <section class="grid2-2">
    <div class="container copenhagen">
      <Image src={Copenhagen} alt="projekt om CLF"/>
      <div class="overlay">
        <h3>Copenhagen Light Festival</h3>
        <p> Vi fik til opgave at redesigne CLFs nuværende website ud fra få
          retningslinjer. Min rolle i denne opgave var meget design fokuseret, da det var dette der var hovedfokus i opgaven. Jeg hjalp dog også med selve implementeringen.</p>
      </div>
    </div>
    <div class="figma container">
      <Image src={Figma} alt="projekt om figma-redesign"/>
      <div class="overlay">
        <h3>Implentering af figma design</h3>
        <p> I denne opgave skulle vi selv implementer et figma design vi havde
          fået udleveret i undervisningen. Vi skulle fokuserer på at benytte
          teknikker fra undervisningen, så vi lærte og benytte dem selv. Jeg
          fandt det meget lærerigt, og selvom jeg ikke fik styr på alle
          teknikker.</p>
      </div>
    </div>
    <div class="todo container">
      <Image src={Todo} alt="projekt om todo-app"/>
      <div class="overlay">
        <h3>Todo-app</h3>
        <p> I denne opgave skulle vi stifte bekendtskab med javascript, og benytte metoder fra undervisningen til at udvikle vores egen todo-app. Jeg synes opgaven var svær, men kom i mål med et produkt jeg var tilfreds med.</p>
      </div>
    </div>
    <div class="green container">
      <Image src={GreenLiving} alt="projekt om green living"/>
      <div class="overlay">
        <h3>Redesign af GreenLiving</h3>
        <p>  Til vores seneste eksamensopgave skulle vi finde en selvvalgt
          virksomhed, og hjælpe dem med redesign og implementering af en ny
          webløsning. Min gruppe og jeg samarbejdede med virksomheden Green
          Living, og fokuserede på, at give deres website et mere
          nutidigt/ungdommeligt design. Jeg var med til både
          implementeringen af webløsningen, og samtidig hjalp jeg også med
          design idéer og produktion af indhold. Jeg fandt dog mest glæde
          ved at være med til kodearbejdet.</p>
      </div>
    </div>
  </section>
  
</section>
<style>
  .container{
    position: relative;
    width: 100%;

    img{
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.75);
      overflow: hidden;
      margin-top: 2rem;
      width: 100%;
      height: 0;
      transition: .5s ease;
    }
  }

  .container:hover .overlay{
    height: 100%;
  }
  h3{
  margin-top: 20px;
  padding-left: 10px;
  color: white;
  font-size: var(--size-0);
  position: absolute;
  text-wrap: pretty;
  line-height: 1;
  font-family: Questrial;
  }

  p{
    color: white;
    font-size: var(--size--2);
    margin: 4.5rem 0 0 0px;
    padding-left: 10px;
  }
@media (min-width: 451px){
  section{
    background-color: var(--primary-color-01);
    padding-top: 5rem;
      padding-bottom: 5rem;
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;

    img{
      max-width: 100%;
    }

    .grid2-2{
      display: grid;
      grid-template-columns: 0.1fr auto auto 0.1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;

      .copenhagen{
        grid-column: 3/4;
        grid-row: 1;
      }
      .todo{
        grid-column: 3/4;
        grid-row: 2;
      }
      .figma{
        grid-column: 2/3;
        grid-row: 1;
      }
      .green{
        grid-column: 2/3;
        grid-row: 2;
      }
    }
    .header{
      display: flex;
      transform: none !important;
      align-items: center;
      height: fit-content;
      gap: 1rem;
      padding-left: 4rem;
      img{
        max-width: 30%;
      }
    }
    }

    
  }
  @media (max-width:450px){
    section{
    background-color: var(--primary-color-01);
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-items: center;
    display: grid;

    img{
      max-width: 100%;
    }
    .grid2-2{
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;

      .grid2-2 > *{
        grid-auto-rows: auto;
      }
    }
    .header{
      display: flex;
      transform: none !important;
      align-items: center;
      height: fit-content;
      gap: 1rem;
      img{
        max-width: 20%;
      }
    }
    }
  }

</style>

