---
import "../css/global.css";
import { Image } from "astro:assets";

import Squiggle from "../images/squirrel2.svg";
import CLF from "../images/CLF.jpg";
import CLF2 from "../images/CLF2.jpg";
import FD1 from "../images/FD1.jpg";
import FD2 from "../images/FD2.jpg";
import GL1 from "../images/GL1.jpg";
import GL2 from "../images/GL2.jpg";
---

<section class="flow">
  <div class="header">
    <h2>Projekter</h2>
    <Image src={Squiggle} alt="mig" />
  </div>
  <ul>
    <li>
      <div class="grid">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"
          ><path
            style="fill:#232326"
            d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
            data-name="Right"></path></svg
        >
        <div class="grid3-2">
          <Image class="img1" src={CLF} alt="forside" />
          <Image class="img2" src={CLF2} alt="redesign" />
          <div class="text">
            <h2>Redesign af Copenhagen Light Festival</h2>
            <p>
              Vi fik til opgave at redesigne CLFs nuværende website ud fra få
              retningslinjer. Min rolle i denne opgave var meget alsidig, da vi
              havde en kort tidsfrist til det færdige produkt skulle
              præsenteres, i fremtidige projekter nyder jeg dog, at kunne
              fordybe mig i ét specifikt område, men det var fedt og være med i
              hele processen.
            </p>
          </div>
          <div class="list">
            <ul>
              <li>UX/UI</li>
              <li>Developer</li>
              <li>Project management</li>
            </ul>
            <a
              href="https://www.figma.com/proto/oPhgo40p7OwzOtL3lo7clO/CLF?node-id=61-820&node-type=frame&t=e3ZO42txPZ2wyAzn-1&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=61%3A551"
              target="_blank">Løsning i Figma</a
            >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="grid figma">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"
          ><path
            style="fill:#232326"
            d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
            data-name="Right"></path></svg
        >
        <div class="grid3-2">
          <Image class="img1" src={FD1} alt="forside" />
          <Image class="img2" src={FD2} alt="redesign" />
          <div class="text">
            <h2>implementering af Figma Design</h2>
            <p>
              I denne opgave skulle vi selv implementer et figma design vi havde
              fået udleveret i undervisningen. Vi skulle fokuserer på at benytte
              teknikker fra undervisningen, så vi lærte og benytte dem selv. Jeg
              fandt det meget lærerigt, og selvom jeg ikke fik styr på alle
              teknikker, kan jeg allerede mærke, at jeg i senere projekter, har
              udviklet mig fra sidste projekt.
            </p>
          </div>
          <div class="list">
            <ul>
              <li>Developer</li>
              <li>Project management</li>
            </ul>
            <a
              href="https://www.figma.com/proto/oPhgo40p7OwzOtL3lo7clO/CLF?node-id=61-820&node-type=frame&t=e3ZO42txPZ2wyAzn-1&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=61%3A551"
              target="_blank">Løsning i Figma</a
            >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="grid green-living">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"
          ><path
            style="fill:#232326"
            d="M24 12.001H2.914l5.294-5.295-.707-.707L1 12.501l6.5 6.5.707-.707-5.293-5.293H24v-1z"
            data-name="Left"></path></svg
        >
        <div class="grid3-2">
          <Image class="img1" src={GL1} alt="forside" />
          <Image class="img2" src={GL2} alt="redesign" />
          <div class="text">
            <h2>Redesign for GreenLiving</h2>
            <p>
              Til vores seneste eksamensopgave skulle vi finde en selvvalgt
              virksomhed, og hjælpe dem med redesign og implementering af en ny
              webløsning. Min gruppe og jeg samarbejdede med virksomheden Green
              Living, og fokuserede på, at give deres website et mere
              nutidigt/ungdommeligt design. Jeg var med til både
              implementeringen af webløsningen, og samtidig hjalp jeg også med
              design idéer og produktion af indhold. Jeg fandt dog mest glæde
              ved at være med til kodearbejdet.
            </p>
          </div>
          <div class="list">
            <ul>
              <li>UX/UI</li>
              <li>Developer</li>
              <li>Content Creator</li>
            </ul>
            <a
              href="https://www.figma.com/proto/9InDhk05YAE1hRWtnxTAsA/GreenLiving?page-id=4%3A93&node-id=84-254&node-type=frame&viewport=-283%2C-55%2C0.08&t=omQpFFk0lCZSUU1R-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=84%3A254&show-proto-sidebar=1"
              target="_blank">Løsning i Figma</a
            >
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<style>
  html {
    scroll-snap-type: inline mandatory;
  }
  section {
    background-color: var(--primary-color-01);
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: var(--secondary-color-01);

    overflow-x: auto;
    > * {
      flex: 1 0 100%;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr auto 1fr;
      grid-template-rows: auto auto;
    }

    .header {
      display: flex;
      gap: 1rem;
      padding-left: 6rem;
      /* margin-bottom: 1rem; */
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      h2 {
        font-size: var(--size-2);
      }

      img {
        max-width: 10%;
      }
    }

    .grid3-2 {
      display: grid;
      grid-template-columns: minmax(200px, 1fr) 1fr 1fr 1fr;
      /* grid-template-rows: 1fr 1fr; */
      gap: 3rem;
      grid-column: 1/-1;
      position: relative;

      h2 {
        font-family: Questrial;
        font-size: var(--size-0);
      }

      .img1 {
        grid-column: 2/2;
        grid-row: 1/1;
        max-width: 100%;
      }
      .img2 {
        grid-column: 3/3;
        grid-row: 1/1;
        max-width: 100%;
      }

      .text {
        grid-row: 2/2;
        grid-column: 2 / -2;
      }

      .grid3-2::before {
        content: "";
        display: block;
        border: solid 1px var(--primary-color-02);
        width: 400px;
        height: 400px;
        z-index: 0;
        top: 300px;
        left: 300px;
      }

      .list {
        grid-column: 4/-1;
        grid-row: 2/2;
        border-left: 1px solid black;

        a {
          padding-left: 1.8rem;
        }
      }
    }

    .list ul {
      display: flex;
      flex-direction: column;

      li {
        list-style: circle;
      }
    }
    ul {
      width: 100%;
      overflow-x: auto;
      display: flex;
    }
    > ul {
      scroll-snap-type: x mandatory;
      grid-column: 1 / -1;
      padding-inline: max(1rem, 50% - var(--content-width) / 2);
      padding-block-end: 1rem;

      li {
        scroll-snap-align: center;
        flex-shrink: 0;
        list-style: none;
      }
    }
  }

  .figma {
    max-width: 100svw;
    max-height: 100svh;
    padding-top: 5rem;
  }

  .green-living {
    max-width: 100svw;
    max-height: 100svh;
  }

  svg {
    max-width: 10%;
    grid-column: -1;
    animation: leftAndRight 4s ease-in-out infinite;
  }
  @keyframes leftAndRight {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-80px);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
</script>
