---
import "../css/global.css";
import { Image } from "astro:assets";

import Squiggle from "../images/squirrel2.svg";
import Copenhagen from "../images/copenhagen-lf.jpg";
import Figma from "../images/figma-design.jpg";
import Todo from "../images/todo-liste.png";
import GreenLiving from "../images/green-living.jpg";
---

<section class="flow">
  <div class="header">
    <h2>Projekter</h2>
    <Image src={Squiggle} alt="mig" />
  </div>
  <section class="grid2-2">
    <Image src={Copenhagen} alt="projekt om CLF" class="copenhagen"/>
    <Image src={Figma} alt="projekt om figma-redesign" class="figma"/>
    <Image src={Todo} alt="projekt om todo-app" class="todo"/>
    <Image src={GreenLiving} alt="projekt om green living" class="green"/>
  </section>
  
</section>
<style>
@media (min-width: 1200px){
  section{
    background-color: var(--primary-color-01);
    padding-top: 5rem;
      padding-bottom: 5rem;
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;

    img{
      max-width: 100%;
    }

    .grid2-2{
      display: grid;
      grid-template-columns: 0.1fr auto auto 0.1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;

      .copenhagen{
        grid-column: 3/4;
        grid-row: 1;
      }
      .todo{
        grid-column: 3/4;
        grid-row: 2;
      }
      .figma{
        grid-column: 2/3;
        grid-row: 1;
      }
      .green{
        grid-column: 2/3;
        grid-row: 2;
      }
    }
    .header{
      display: flex;
      transform: none !important;
      align-items: center;
      height: fit-content;
      gap: 1rem;
      img{
        max-width: 30%;
      }
    }
    }

    
  }
  @media (max-width:450px){
    section{
    background-color: var(--primary-color-01);
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-items: center;
    display: grid;

    img{
      max-width: 100%;
    }
    .grid2-2{
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;

      .grid2-2 > *{
        grid-auto-rows: auto;
      }
    }
    .header{
      display: flex;
      transform: none !important;
      align-items: center;
      height: fit-content;
      gap: 1rem;
      img{
        max-width: 20%;
      }
    }
    }
  }

</style>

